// Custom styles.
// 主页文章添加阴影效果
#main{
    padding-top: 20px;
    padding-bottom: 20px;
    +mobile(){
      padding-top: 5px;
      padding-bottom: 5px;
    }
    background-color: #2d76c8;
    background-image: url('/imgs/index-bg/shadow_light.png'), url('/imgs/index-bg/pixels.png');
    background-position: 0 0, 0 0;
    background-repeat: repeat-x, repeat;
}